body {
    font-family: sans-serif;
}
.container {
    width: 500px;
    margin:150px auto;
    position: relative;
    overflow: hidden;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-holder{
    perspective: 1000px;
    position: relative;
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 10px;
}
.card {
    width: 100%;
    height: 100%;
    color: white;
    position: absolute;
    transition: 0.5s;
    transform-style: preserve-3d;
    left: 0;
    top: 0;
}
.front {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.back {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    left: 0;
    top: 0;
}
.flipped,.done {
    transform: rotateY(180deg);
}

button {
    display: block;
    margin: 40px auto;
    padding: 10px 15px;
    background-color: cornflowerblue;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.timer {
    width: 50px;
    height: 50px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: cornflowerblue;
    font-weight: bold;
    font-size: 20px;
}

.end-screen {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999;
    line-height: 1.8;
    font-size: 25px;
    font-weight: bold;
    transform: translateY(100%);
    transition: 1s;

}

